const cron = require('node-cron');
const { syncMatches } = require('./dataService');

function startScheduler() {
  cron.schedule('0 0 * * *', async () => {
    console.log('Atualização diária iniciada às 00:00');
    const result = await syncMatches();
    console.log('Atualização diária concluída:', result);
  }, {
    timezone: 'Etc/UTC',
  });

  console.log('Scheduler inicializado para atualização diária às 00:00.');
}

module.exports = {
  startScheduler,
};
